.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(120px + 24px + 8px * 2 + 48px);
    width: 272px;
    position: relative;
}

.hidden {
    display: none;
}

.name {
    height: 48px;
    text-align: center;
}

.number {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 32px;
    width: 32px;
    background-color: #4C4CFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    display: flex;
}
