.overlay {
    height: calc(100vh);
    width: 100vw;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBody {
    width: 720px;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    box-sizing: border-box;
}

.modalHeader {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background: #1C1C21;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 24px;
    width: 24px;
    border: none;
    display: block;
    padding: 0;
}

.size {
    height: 80px !important;
    width: 80px !important;
}

@media (max-width: 1400px) {
    .modalBody {
        width: 600px;
        border-radius: 40px;
        padding: 20px 20px 30px;
    }
    .modalHeader {
        height: 50px;
        padding: 0px 10px;
    }
}

@media (max-width: 800px) {
    
}

@media (max-width: 600px) {

}